/* Global */
*{
	position: relative;
	box-sizing: border-box;
}

/* 框線的設定 */
.test-bd{
	/*border: 1px solid #000;*/
}
.container{
	width: 1170px;
	height: 100%;
	margin: 0 auto;
	padding: 0px 15px;
}
.row{
	margin-left: -15px;
	margin-right: -15px;
}
.row:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.col-1-3, .col-1-2{
	float: left;
	padding: 0px 15px;
}
.col-1-2{
	width: 50%;
}
.col-1-3{
	width: 33.33333%;
}
.givePadding{
	padding-top: 120px;
	padding-bottom: 100px;
}
/* Custom */
.elements{
	/*background-color: rgba(0,0,0,0.5);*/
	border-radius: 10px;
	color: #000;
	font-size: 20px;
	padding: 10px;
}
/* Navbar */
/*.navbar{
	background-color: rgba(0,0,0,0.6);

}
.navbar .elements{
	height: 80px;
}*/

/* Jumbotron */
.jumbotron{
	padding-top: 30px;
	/*padding-bottom: 280px;*/
	height: 565px;
	background-image: url('../image/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    
}
.jumbotron .title{
	margin: 0 auto;
	width: 100%;
	margin-top: 200px;
	margin-bottom: 10px;
}
.jumbotron .title h1{
	color: #000;
	text-align: center;
}
.jumbotron .btn-container{
	width: 200px;
	margin: 0px auto;
	margin-top: 50px;
}
.jumbotron .btn-container .btn{
	font-size: 24px;
	color: #000;
	text-decoration: none;
	text-align: center;

	display: inline-block;
	width: 200px;
	padding: 15px 10px;
	border: 1px solid #ffbb33;
	background-color: #ffbb33;
	
	border-radius: 10px;
	overflow: hidden;

	transition: all 0.3s;
}
.jumbotron .btn-container .btn:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 0%;
	padding-top: 0%;
	background-color: rgba(256,256,256,0.2);
	border-radius: 50%;
}
.jumbotron .btn-container .btn:hover:before{
	width: 100%;
	padding-top: 100%;
}

.jumbotron .btn-container .btn:active{
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}
/* Attraction */
.attraction .elements{
	height: 300px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.attraction img{
	width: 150px;
	margin: 10px auto;
	display: block;
}
.attraction .elements .title h1{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* Benefit */
.benefit{
	padding-top: 30px;
	background: linear-gradient(50deg,#ECD052 0%,#D87281 100%);
}
.benefit .title{
	margin: 0 auto;
	width: 100%;
	padding-bottom: 50px;
}
.benefit .title h1{
	text-align: center;
}
.benefit .container{
	padding: 40px 15px;
}
/* Testimonial */
.testimonial{
	padding-top: 30px;
}
.testimonial .title{
	margin: 0 auto;
	width: 150px;
}
.testimonial .title h1{
	text-align: center;
}
.testimonial .col-1-3 .elements{
	height: 300px;
}
.testimonial .container img{
	width: 150px;
	height: 150px;
	margin: 10px auto;
	display: block;
}
.testimonial .container .title h1{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
}
.testimonial .container p{
	margin-top: 10px;
}
/* Support */
.support{
	padding-top: 30px;
	background: linear-gradient(50deg,#ECD052 0%,#D87281 100%);
}
.support .title{
	margin: 0 auto;
	width: 100%;
	padding-bottom: 50px;
}
.support .title h1{
	text-align: center;
}






